* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --main-color: #1EBFC1;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* =====================common========================== */

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* =====================header========================== */

.header .logo .logo-header {
    width: 37px;
    height: 37px;
    margin-right: 6px;
    display: block;
}

.header .logo .logo-name {
    width: 75px;
    height: 17px;
    margin-right: 3.5px;
    display: block;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo .circle {
    padding-top: 10px;
}

.header .body {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    align-items: center;
}

.header .body .nav ul {
    display: flex;
    gap: 39px;
}

.header .nav li a {
    color: #2F3A3B;
    font-size: 1.6rem;
}

.header .nav li a.active {
    font-weight: 600;
}

.header .action .btn-sign-in {
    color: #2F3A3B;
    font-size: 1.6rem;
}

.header .action .btn-sign-up {
    color: var(--main-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 12px 24px;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    margin-left: 24px;
}

/* =====================Introduce========================== */

.introduce {
    padding-top: 65px;
}

.introduce .main-content {
    display: flex;
}

.introduce .left-part {
    display: flex;
    flex-direction: column;
    width: 51%;
}

.introduce .left-part .label {
    display: inline-block;
    margin-top: 143px;
    color: #767E7E;
    font-size: 1.4rem;
}

.introduce .left-part .title-lv1 {
    margin-top: 18px;
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.introduce .left-part .desc {
    margin-top: 46px;
    color: #9DA6A5;
    font-size: 1.8rem;
    line-height: 1.77;
    width: 374px;
}

.introduce .left-part .action {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.introduce .left-part .btn-start {
    display: inline-block;
    padding: 20px 41px 21px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    background: var(--main-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.introduce .left-part .cta-btn {
    /* display: inline-block; */
    display: flex;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.introduce .right-part {
    margin-top: 50px;
    background: #E0F7F6;
    position: relative;
}

.introduce .right-part .courses {
    position: absolute;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    top: 149px;
    left: -40px;
}

.introduce .book {
    display: inline-block;
    position: relative;
    top: 17px;
    left: 25px;
}

.introduce .book .book2 {
    position: absolute;
    left: 4px;
    bottom: 8px;
}

.introduce .courses .tag {
    display: inline-block;
    width: 55px;
    position: absolute;
    top: 22px;
    right: 25px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.introduce .schedules {
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 46px;
    left: -65px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.introduce .schedules .tag {
    display: inline-block;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
}

.introduce .schedules svg {
    display: block;
}

.introduce .schedules svg:first-child {
    margin-top: 16px;
}

.introduce .schedules svg:nth-child(2) {
    margin-top: 12px;
}

.introduce .schedules svg:nth-child(3) {
    margin-top: 10px;
}

.introduce .schedules svg:nth-child(4) {
    margin-top: 16px;
    width: 26px;
    margin-left: auto;
    margin-right: auto;
}

.introduce .student {
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 45px;
    bottom: 41px;
}

.introduce .student .tag {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 17px;
    display: inline-block;
}

.introduce .student .image-block {
    padding-left: 35px;
    /* text-align: start; */
}

.introduce .student .body-image-block {
    display: flex;
    margin-top: 8px;
}

.student .avatar {
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -7px;
}

.student .avatar:first-child {
    background-color: var(--main-color);
    margin-left: 0px;
}

.student .avatar:nth-child(2) {
    background-color: #FFC147;
}

.student .avatar:nth-child(3) {
    background-color: #FF947A;
}

.student .avatar:nth-child(4) {
    background-color: #BF83FF;
}

.student .value {
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    padding: 9px 5px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-left: -7px;
}

/* =====================Features========================== */
.features {
    margin-top: 133px;
    padding-bottom: 65px;
}

.courses .courses-top .section-title,
.features .features-top .section-title {
    color: #767E7E;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.courses .courses-top .title-lv2,
.features .features-top .title-lv2 {
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
    margin-top: 18px;
    width: 577px;
}

.courses .courses-top .desc,
.features .features-top .desc {
    margin-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
    line-height: normal;
    width: 590px;
}

.features .features-body {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.features-body .icon-wrap {
    width: 102px;
    height: 106px;
    background: #FFC147;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-body .item:nth-child(2) .icon-wrap {
    background: #FF947A;
}

.features-body .item:nth-child(3) .icon-wrap {
    background: #BF83FF;
}

.features-body .icon-wrap .icon {
    width: 48px;
    height: 48px;
}

.features-body .item:nth-child(3) .icon-wrap .icon {
    width: 40px;
    height: 48px;
}

.features-body .icon-name {
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    margin-top: 26px;
}

.features-body .desc {
    color: #9DA6A5;
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-top: 16px;
    width: 223px;
}

/* =====================Courses========================== */

.courses {
    margin-top: 65px;
    padding-bottom: 189px;
    /* (65+124), 124 là thằng content-course dịch xuống */
}

.courses .courses-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .courses-top-content a {
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.courses .courses-body {
    display: flex;
    gap: 47px;
}

.courses-body .item {
    margin-top: 79px;
    position: relative;
}

.courses-body .img-wrap {
    width: 359px;
    height: 393px;
    /* background: #D0EFED; */
}

.courses-body .img-wrap img {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.65;
}

.courses-body .content-course {
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 17px;
    bottom: -124px;
}

.courses-body .content-course-body {
    /* padding: 18px 0 29px 25px; */
    padding-left: 25px;
}

.courses-body .name-course {
    margin-top: 18px;
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-body .fee {
    display: inline-block;
    margin-top: 16px;
    color: #767E7E;
    font-size: 1.6rem;
    line-height: normal;
}

.courses-body .fee strong {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-body .desc {
    margin-top: 6px;
    color: #9DA6A5;
    font-size: 1.4rem;
    line-height: normal;
}

.courses-body .wrap-content {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.courses-body .course-time,
.courses-body .class-number {
    color: #9DA6A5;
    font-size: 1.4rem;
    line-height: normal;
    display: inline-block;
    display: flex;
    align-items: center;
}

.courses-body .course-time::before,
.courses-body .class-number::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: var(--main-color);
    border-radius: 50%;
    margin-right: 10px;
}

.courses-body .course-time::before {
    margin-left: 10px;
}

/* =====================Courses-info========================== */

.courses-info {
    margin-top: 200px;
}

.courses-info .top-info {
    display: flex;
    justify-content: space-around;
}

.courses-info .item {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.courses-info .item .number-part {
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-info .item .name-part {
    color: #767E7E;
    font-size: 1.8rem;
    line-height: normal;
}
/* ===================body-info================ */

.courses-info .body-info {
    margin-top: 264px;
    /* height: 481px; */
}

.courses-info .body-info .main-content {
    display: flex;
    gap: 72px;
    align-items: center;
}

.body-info .block-quote {
    margin-top: 27px;
    color: #5D6564;
    font-size: 3.2rem;
    line-height: 4.8rem;
    width: 419px;
}

.body-info .name {
    margin-top: 33px;
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
}

.body-info .name::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
    margin-right: 5px;
}

.body-info .name strong {
    color: #767E7E;
    font-size: 1.6rem;
    line-height: normal;
    margin-left: 5px;
}

.body-info .btn-bq {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.body-info .btn-bq svg {
    /* width: 6px;
    height: 12px; */
}

.body-info .btn-bq .wrap-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-info .right-part {
    position: relative;
    width: 100%;
    height: 481px;
}


.body-info .right-part .avatar {
    display: block;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.body-info .right-part .wrap-image:nth-child(1) .avatar {
    width: 92px;
    height: 92px;
    background: var(--main-color);
    position: absolute;
    left: 144px;
    top: 0;
}

.body-info .right-part .wrap-image:nth-child(2) .avatar {
    width: 110px;
    height: 110px;
    background: #BF83FF;
    position: absolute;
    right: 0px;
    top: 26px;
}

.body-info .right-part .wrap-image:nth-child(3) .avatar {
    width: 235px;
    height: 235px;
    background: #FF8282;
    position: absolute;
    right: 143px;
    top: 90px;
}

.body-info .right-part .wrap-image:nth-child(4) .avatar {
    background: #FFC147;
    position: absolute;
    left: 0;
    top: 250px;
}

.body-info .right-part .wrap-image:nth-child(5) .avatar {
    background: #FF947A;
    position: absolute;
    bottom: 0;
    left: 202px;
}

.body-info .right-part .wrap-image:nth-child(6) .avatar {
    background: #B1DFDC;
    position: absolute;
    right: 44px;
    bottom: 40px;
}